
$dark: #242536;
$dark-gray: #92929d;
$darkest-gray: #70707b;
$gray: #e4e4e4;
$black: #4c4d5e;
$light-gray: #f6f6f6;
$blue: #282b57;
$red: #d73b3b;
$red-dark: #c62a2a;
$massas: #d73b3b;
$carnes: #30201e;
$combos: #e6c864;
$veganos: #80aa40;


$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 175px;
$padding-horizontal: 200px;

$mobile: 768px;
$desktop_xsm: 980px;
$desktop_sm: 1080px;
$desktop_md: 1280px;

$font-primary: 'Italiana';
$font-secondary: 'Josefin Sans';
$font-size: 18px;
$mobile-width: 375px;
$desktop-width: 1440px;
